header{
    width: 950px;
    height: 25px;
    background-color: grey;
    color: orange;
    padding: 20px;
    text-align: center;
    
}
.slider{
    width: 950px;
    height: 250px;
    background-image: url(header2.jpeg);
    padding: 20px;
    text-align: center;
    color:whitesmoke;

}
.pOne{
  width: 475px;
  height: 250px;
  /*background-color: darkcyan;*/
float: left;
padding: 10px;
}
.pTwo{
    width: 475px;
    height: 250px;
    /*background-color: darkgray;*/
    float: left;
    padding: 10px;

}
.BoxOne{
    width: 316px;
    height: 250px;
    background-color: aquamarine;
    float: left; 
    padding: 5px;
}
.BoxTwo{
    width: 316px;
    height:250px ;
    background-color: burlywood;
    float: left;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}
.BoxThree{
    width: 316px;
    height:250px ;
    background-color: lightblue;
    float: left;
    padding: 5px;
}
footer{
    width: 950px;
    height: 80px;
    background-color: chocolate;
    padding: 20px;
     text-align:center ;
     color: blue;
     margin-top: 5px;
}